.copyright--wrapper {
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  font-size: 12px;
  color: #555555;
  max-width: 1020px;
  margin-top: 1rem;
}

@media (max-width: 912px) {
  .copyright--wrapper {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .copyright--wrapper {
    width: 90%;
  }
}
