.social--outer {
  background-color: #2c4886;
}
.social--box {
  max-width: 1120px;
}
.socials {
  display: flex;
  justify-content: end;
  align-items: center;
}
.socials p {
  color: #fff;
  margin: 0.5rem 0;
}
.socials > * {
  margin-left: 1.25rem;
}
.logo--outer {
  background-color: #395697;
}
.logo--bg {
  max-width: 1120px;
}
.logo--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.headerImg {
  max-width: 400px;
  max-height: 60px;
}
.sub--btn {
  background-color: #ffdb4d;
  color: #4a380e;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: none !important;
}
.sub--btn:hover {
  background-color: #ffdb4d;
  color: #4a380e;
}
.btn--icon {
  margin-right: 4px;
}

/* MEDIA QUERIES */

@media (max-width: 912px) {
  .social--box {
    max-width: 100vw;
  }
  .logo--box {
    padding: 1rem 0;
    justify-content: space-around;
  }
  .headerImg {
    max-width: 50vw;
  }
  .sub--btn {
    font-size: 15px;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 600px) {
  .social--box {
    display: none;
  }
  .logo--outer {
    max-width: 100%;
  }
  .logo--bg {
    max-width: 100vw;
  }
  .logo--box {
    justify-content: center;
    max-width: 100%;
  }
  .hacker--logo {
    width: 70%;
    margin: 0 auto;
  }
  .headerImg {
    max-width: 80vw;
  }
  .sub--btn {
    display: none;
  }
}
