.nav {
  padding-bottom: 0;
}
.nav--box {
  max-width: 1096px !important;
  margin: 0 auto;
}
.nav--links {
  list-style-type: none;
}
.nav--item {
  margin-right: 30px;
  border-bottom: 4px solid transparent;
}
.home--mobile--icon {
  display: none;
}
.mobile--view--only {
  display: none;
}
.nav--item:hover {
  border-bottom: 4px solid #2c4886;
}
.nav--item--link {
  color: #585858 !important;
  font-weight: 400;
}
.icon--box {
  display: inline-block;
}

.nav--icon {
  padding: 0 0 0 15px;
}
.form--outer--box {
  background-color: #fafafa;
  transition: 0.3s ease;
}
.form--container {
  max-width: 1096px;
  padding: 1rem 0;
  transform: 0.3s ease-in-out;
}
.search--input {
  border-radius: 0;
  font-size: 12px;
}

/***** MEDIA QUERIES *****/

@media (max-width: 912px) {
  /* .nav {
    max-width: 800px;
  } */
  .nav--item {
    margin-right: 0;
    padding: 0 0.5rem;
  }
  .nav--item--link {
    font-size: 12px;
    padding: 0;
  }
  .nav--icon {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .nav {
    max-width: 100vw;
    border-bottom: 2px solid #ffdb4d;
  }
  .nav--links {
    /* margin: 0 auto; */
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }
  .nav--item {
    padding: 0;
    width: 30%;
    height: 100%;

    text-align: center;
  }
  .nav--item--link {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .mobile--hidden {
    display: none;
  }
  .nav--box {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .home--mobile--icon {
    display: inline-block;
  }
  .mobile--icons {
    font-size: 15px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  .mobile--view--only {
    display: inline-block;
  }
  .icons--mobile--hidden {
    display: none;
  }
}
