.side--news--box {
  max-width: 300px;
}
.side--top--ad1 {
  margin: 1.5rem 0 0.75rem 0;
  width: 100%;
  height: auto;
}
.side--top--ad2 {
  margin: 0.75rem 0 2rem 0;
  width: 100%;
  height: auto;
}

.news--article--anchor {
  display: flex;
  text-decoration: none;
}
.side--news--article {
  padding-bottom: 1rem;
}

.side--news--title {
  font-size: 23px;
  border-bottom: 4px solid #333;
  max-width: 196px;
  font-weight: 900;
  color: #2b2d41;
}
.side--news--img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 3px;
}
.side--article--description {
  color: #444444;
  text-decoration: none;
  padding-left: 1rem;
  text-decoration-color: #2b2d41;
}
.side--article--description:hover {
  text-decoration-color: #2b2d41;
  text-decoration: underline;
}
.side--bottotm--ad {
  margin: 1rem 0 0 0;
  width: 100%;
  height: auto;
}

@media (max-width: 912px) {
  .side--news--box {
    display: none;
  }
}
